.Charts{
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    font-family: inherit;
    background-color: #EDEDED;
}

.ChartTitle{
    margin: 25px 0;
    color: #086972;
}

.Tracks{
    background-color: #fff;
    padding: 25px;
    margin: 0 25px 0 0;
}

.TracksHeader,
.TracksPosition,
.Track,
.TrackDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.TracksHeader{
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}

.TracksPosition{
    width: 50%;
}

.TracksPosition p,
.Position p{
    display: block;
    width: 33%;
    text-align: center;
}

.Track{
    font-weight: 600;
    border-top: 1px solid #bcbcbc;
    padding: 15px 0;
}

.TrackImage{
    width: 70px;
    height: 70px;
    margin: 0 20px;
}

.TrackTitle,
.TrackNumber{
    font-size: 18px;
}

.TrackAlbum{
    margin-top: 5px;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
}

.Position{
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-size: 18px;
}