.MainNav,
.Left,
.Right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEDED;
}

.MainNav{
    height: 12vh;
    box-shadow: 2px 2px 2px rgba(204, 204, 204, 0.5);
    border-bottom: 1px solid #BCBCBC;
}

.Left span,
.Right span{
    height: 30px;
    width: 30px;
    margin: 0 25px;
}

.LogoContainer{
    height: 50px !important;
    width: 50px !important;
}

.Search{
    height: 25px !important;
    width: 25px !important;

}

span img{
    height: 100%;
    width: 100%;
}