*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
COLORS:
    sideNav: #2A2A2A;
    browse: #373737;
    sidenavitems:#BCBCBC;
    activeClass: #086972;
    title: #086972;
    name: #071A52
*/

